{
  "env": {
    "node" : true
  },
  "ecmaFeatures" : {
    "objectLiteralShorthandMethods" : true
  },
  "parser": "babel-eslint",
  "rules": {
    "semi" : [0 , "never"],
    "strict" : 0,
    "key-spacing" : [2, {
      "beforeColon" : true,
      "afterColon" : true
    }],
    "no-unused-vars": [1, {"vars" : "all", "args" : "after-used"} ],
    "no-comma-dangle" : 0
  }
}